{% extends "base.html" %}
{% load allauth i18n %}
{% block title %}
    <title>Pasture | Logout</title>  
{% endblock title %}
{% block content %}
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Logout</h1>            
        </div>
    </section>
    <section class="text-area">    
        <p>{% trans 'Are you sure you want to sign out?' %}</p>
        {% url 'account_logout' as action_url %}
        {% element form method="post" action=action_url no_visible_fields=True %}
            {% slot body %}
                {% csrf_token %}
                {% if redirect_field_value %}
                    <input type="hidden"
                        name="{{ redirect_field_name }}"
                        value="{{ redirect_field_value }}" />
                {% endif %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" %}
                    {% trans 'Sign Out' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
    </section>
{% endblock content %}
