{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% load account %}
{% block title %}
    <title>Pasture | Password Reset</title>  
{% endblock title %}
{% block content %}
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Reset Password</h1>            
        </div>
    </section>
    <section class="text-area">  
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            {% blocktrans %}We have sent you an email. If you have not received it please check your spam folder. Otherwise contact us if you do not receive it in a few minutes.{% endblocktrans %}
        </p>
    </section>
{% endblock content %}
