{% extends "base.html" %}
{% load allauth i18n %}
{% block title %}
    <title>Pasture | Change Password</title>  
{% endblock title %}
{% block content %}
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Change Password</h1>            
        </div>
    </section>
    <section class="text-area">  
        {% url 'account_change_password' as action_url %}
        {% element form form=form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" %}
                    {% trans "Change Password" %}
                {% endelement %}
                <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            {% endslot %}
        {% endelement %}
    </section>
{% endblock content %}
