{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
    <title>Pasture | Change Password</title>  
{% endblock title %}
{% block content %}
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Change Password</h1>            
        </div>
    </section>
    <section class="text-area"> 
        <p>{% trans 'Your password is now changed.' %}</p>
    </section>
{% endblock content %}
