{% extends "base.html" %}
{% load i18n allauth account %}
{% block title %}
    <title>Pasture | Password Reset</title>  
{% endblock title %}
{% block content %}
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Reset Password</h1>            
        </div>
    </section>
    <section class="text-area">  
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p>
            {% trans "Forgotten your password? Enter your email address below, and we'll send you an email allowing you to reset it." %}
        </p>
        {% url 'account_reset_password' as reset_url %}
        {% element form form=form method="post" action=reset_url %}
            {% slot body %}
                {% csrf_token %}
                {% element fields form=form %}
                {% endelement %}
            {% endslot %}
            {% slot actions %}
                {% element button type="submit" %}
                    {% trans 'Reset My Password' %}
                {% endelement %}
            {% endslot %}
        {% endelement %}
        <p>{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </section>
{% endblock content %}
