{% extends "base.html" %}
{% load i18n %}
{% load allauth %}
{% block title %}
    <title>Pasture | Change Password</title>  
{% endblock title %}
{% block content %}
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            {% if token_fail %}
                {% trans "Bad Token" %}
            {% else %}
                <h1>Change Password</h1>   
            {% endif %}         
        </div>
    </section>
    <section class="text-area">         
        {% if token_fail %}
            {% url 'account_reset_password' as passwd_reset_url %}
            <p>
                {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
            </p>
        {% else %}
            {% element form method="post" action=action_url %}
                {% slot body %}
                    {% csrf_token %}
                    {% element fields form=form %}
                    {% endelement %}
                {% endslot %}
                {% slot actions %}
                    {% element button type="submit" name="action" %}
                        {% trans 'Change Password' %}
                    {% endelement %}
                {% endslot %}
            {% endelement %}
        {% endif %}
    </section>
{% endblock content %}
