/* Typography
------------------------------------------------------------------*/
html {
    font-size: 100%;
}
body {
    color: #525252;
    font: 400 1.5rem 'Open Sans', sans-serif;
}
h1 {
    font: 400 4rem 'Galada', cursive;
    line-height: 1;
}
h2 {
    font: 400 2rem 'Galada', cursive;
}
h3 {
    font: 700 1.2rem 'Open Sans', sans-serif;
}
p {
    font-size: 1.2rem;
}
p.small {
    font-size: 1rem;
}
.welcome-panel .links {
    font-size: 1.8rem;
}
.footer address,
.footer p {
    font-size: 1.2rem;
}
@media only screen and (min-width:1400px) {	
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    h3, body, p {
        font-size: 1.6rem;
    }
    p.small {
        font-size: 1.3rem;
    }
    .welcome-panel .links {
        font-size: 2.5rem;
    }
    .footer address,
    .footer p {
        font-size: 1.4rem;
    }
}
@media only screen and (min-width:1800px) {	
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3, body, p {
        font-size: 1.8rem;
    }
    p.small {
        font-size: 1.5rem;
    }
    .welcome-panel .links {
        font-size: 3rem;
    }
    .footer address,
    .footer p {
        font-size: 1.6rem;
    }
}

/* Common Elements 
------------------------------------------------------------------*/
.white {
    color: #fff;
}
.red {
    color: #915050;
}
a {
    display: inline-block;
    text-decoration: none;    
}
a:after {
    border-bottom: 2px solid;
    content: "";
    display: block;
    height: 2px; 
    transition: all 0.3s ease-out;
    width: 0;
}
a:hover:not(.active):after {
    width: 100%;
}
.border-top,
.border-bottom {
    border-color: #915050 !important;
}

/* Header
------------------------------------------------------------------*/
.header {
    background: rgba(145,80,80, 0.7);
}
.logo-container {
    width: 30%;
}
#logo {
    height: auto;
    width: 100%;
}
@media only screen and (min-width:768px) {	
    .logo-container {
        width: 20%;
    }
}
@media only screen and (min-width:1400px) {	
    .logo-container {
        width: 15%;
    }
}
@media only screen and (min-width:2000px) {	
    .logo-container {
        width: 10%;
    }
}

/* Navigation
------------------------------------------------------------------*/
.navbar-toggler {
    border: 0;
    font-size: 2rem;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: none;    
}
.navbar-nav .nav-item {
    margin-left: 30px;
}
.navbar-nav .nav-link{
    color: #fff;
    padding: 0;
}
.navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-nav .nav-link.active:after {
    border-bottom: 2px solid #fff; 
    width: 100%;
}
.offcanvas {
    background: rgba(145,80,80, 1); 
}

/* Hero Image on Home Page
------------------------------------------------------------------*/
.hero-img {
    background: url('https://res.cloudinary.com/dkxdppkpe/image/upload/v1701095799/main-img_xedqsc.webp') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.welcome-panel {
    background: rgba(145,80,80, 0.3);
}
.welcome-panel h1 {
    border-bottom: 4px solid #fff;
}
.welcome-panel .links {
    list-style: none;
}
@media only screen and (min-width:768px) {	
    .welcome-panel .links li:last-child:before {
        content: "|";
        margin: 0 10px;
    }
}

/* Generic Hero Image 
------------------------------------------------------------------*/
.generic-img {
    background-image: url('https://res.cloudinary.com/dkxdppkpe/image/upload/v1701177529/steak_qr3aha.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.title-panel {
    background: rgba(145,80,80, 0.3);
    margin-bottom: 35px;
}

/* Text Area 
------------------------------------------------------------------*/
.text-area {
    padding: 80px 5%;
}
.text-area.profile {
    padding: 80px 2.5%;
}
@media only screen and (min-width:1400px) {	
    .text-area {
        padding: 80px 10%;
    }
    .text-area.profile {
        padding: 80px 5%;
    }
}
@media only screen and (min-width:1800px) {	
    .text-area {
        padding: 80px 15%;
    }
    .text-area.profile {
        padding: 80px 7.5%;
    }
}
.text-area button {
    background: #4ea767;
    border-radius: 10px;
    border: 0;
    color: #fff;
    padding: 8px 15px;
}
.text-area button:hover {
    background: #915050;
    color: #fff;
}

/* Sub Nav on Staff Profile Page
------------------------------------------------------------------*/
.sub-nav {
    list-style: none;
}
.sub-nav .active {
    color: #915050;
}
.sub-nav .active:after {
    border-bottom: 2px solid #915050; 
    width: 100%;
}

/* Filter
------------------------------------------------------------------*/
.filter-form input {
    margin-bottom: 5px;
    width: 250px;
}

/* Footer
------------------------------------------------------------------*/
.footer {
    background: rgba(145,80,80, 1);
}




