html {
    font-size: 100%;
}
body {
    color: #525252;
    font: 400 1.8rem 'Open Sans', sans-serif;
}

/* Typography
------------------------------------------------------------------*/
h1 {
    font: 400 4rem 'Galada', cursive;
    line-height: 1;
}
h2 {
    font: 400 2rem 'Galada', cursive;
}
p {
    font-size: 1.5rem;
}
.welcome-panel .links {
    font-size: 1.8rem;
}
.footer address,
.footer p {
    font-size: 1.2rem;
}
@media only screen and (min-width:1400px) {	
    h1 {
        font-size: 5rem;
    }
    h2 {
        font-size: 2.2rem;
    }
    p {
        font-size: 2rem;
    }
    .welcome-panel .links {
        font-size: 2.5rem;
    }
    .footer address,
    .footer p {
        font-size: 1.4rem;
    }
}
@media only screen and (min-width:1800px) {	
    h1 {
        font-size: 6rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    p {
        font-size: 2.5rem;
    }
    .welcome-panel .links {
        font-size: 3rem;
    }
    .footer address,
    .footer p {
        font-size: 1.6rem;
    }
}

/* Common Elements 
------------------------------------------------------------------*/
.white {
    color: #fff;
}
.red {
    color: #915050;
}
a {
    display: inline-block;
    text-decoration: none;    
}
a:after {
    border-bottom: 2px solid;
    content: "";
    display: block;
    height: 2px; 
    transition: all 0.3s ease-out;
    width: 0;
}
a:hover:not(.active):after {
    width: 100%;
}

/* Header
------------------------------------------------------------------*/
.header {
    background: rgba(145,80,80, 0.7);
}
.logo-container {
    width: 20%;
}
#logo {
    height: auto;
    width: 100%;
}
@media only screen and (min-width:1400px) {	
    .logo-container {
        width: 15%;
    }
}
@media only screen and (min-width:2000px) {	
    .logo-container {
        width: 10%;
    }
}

/* Navigation
------------------------------------------------------------------*/
.navbar-toggler {
    border: 0;
    font-size: 2rem;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: none;    
}
.navbar-nav .nav-item {
    margin-left: 30px;
}
.navbar-nav .nav-link{
    color: #fff;
    padding: 0;
}
.navbar-nav .nav-link.active {
    color: #fff;
}
.navbar-nav .nav-link.active:after {
    border-bottom: 2px solid #fff; 
    width: 100%;
}
.offcanvas {
    background: rgba(145,80,80, 1); 
}

/* Hero Image on Home Page
------------------------------------------------------------------*/
.hero-img {
    background: url('https://res.cloudinary.com/dkxdppkpe/image/upload/v1701095799/main-img_xedqsc.webp') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
}
.welcome-panel {
    background: rgba(145,80,80, 0.3);
}
.welcome-panel h1 {
    border-bottom: 4px solid #fff;
}
.welcome-panel .links {
    list-style: none;
}
.welcome-panel .links li:last-child:before {
    content: "|";
    margin: 0 10px;
}

/* Generic Hero Image 
------------------------------------------------------------------*/
.generic-img {
    background-image: url('https://res.cloudinary.com/dkxdppkpe/image/upload/v1701177529/steak_qr3aha.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}
.title-panel {
    background: rgba(145,80,80, 0.3);
    margin-bottom: 35px;
}

/* Text Area on Home Page
------------------------------------------------------------------*/
.text-area {
    padding: 80px 5%;
}
@media only screen and (min-width:1400px) {	
    .text-area {
        padding: 80px 10%;
    }
}
@media only screen and (min-width:1800px) {	
    .text-area {
        padding: 80px 15%;
    }
}

/* Footer
------------------------------------------------------------------*/
.footer {
    background: rgba(145,80,80, 1);
}




