html {
    font-size: 100%;
}
body {
    font: 400 1.8rem 'Open Sans', sans-serif;
}
/* Common Elements 
------------------------------------------------------------------*/
h1, h2 {
    font-family: 'Galada', cursive;
    font-weight: 400;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 2.5rem;
}
.white {
    color: #fff;
}

/* Header
------------------------------------------------------------------*/
.header {
    background: rgba(145,80,80, 0.7);
}
.logo {
    height: auto;
    width: 20%;
}
@media only screen and (min-width:1400px) {	
    .logo {
        width: 15%;
    }
}
@media only screen and (min-width:2000px) {	
    .logo {
        width: 10%;
    }
}

/* Navigation
------------------------------------------------------------------*/
.navbar-toggler {
    border: 0;
    font-size: 2rem;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: none;    
}
.navbar-nav .nav-link{
    color: #fff;
}
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show {
    border-bottom: 2px solid #fff;
    color: #fff;
}
.offcanvas {
    background: rgba(145,80,80, 1); 
}

/* Footer
------------------------------------------------------------------*/
.footer {
    background: rgba(145,80,80, 1);
}