html {
    font-size: 100%;
}
body {
    font: 400 1.8rem 'Open Sans', sans-serif;
}
/* Common Elements 
------------------------------------------------------------------*/
h1, h2 {
    font-family: 'Galada', cursive;
    font-weight: 400;
}
h1 {
    font-size: 5rem;
}
h2 {
    font-size: 2.5rem;
}
.white {
    color: #fff;
}
a {
    text-decoration: none;    
}
a:after {
    border-bottom: 2px solid;
    content: "";
    display: block;
    height: 2px; 
    transition: all 0.3s ease-out;
    width: 0;
}
a:hover:not(.active):after {
    width: 100%;
}

/* Header
------------------------------------------------------------------*/
.header {
    background: rgba(145,80,80, 0.7);
}
.logo {
    height: auto;
    width: 20%;
}
@media only screen and (min-width:1400px) {	
    .logo {
        width: 15%;
    }
}
@media only screen and (min-width:2000px) {	
    .logo {
        width: 10%;
    }
}

/* Navigation
------------------------------------------------------------------*/
.navbar-toggler {
    border: 0;
    font-size: 2rem;
}
.navbar-toggler:focus {
    box-shadow: none;
}
.navbar-toggler-icon {
    background-image: none;    
}
.navbar-nav .nav-link{
    color: #fff;
    padding: 0;
}
.navbar-nav .nav-link.active {
    border-bottom: 2px solid #fff; 
    color: #fff;
    padding: 0;
}
.offcanvas {
    background: rgba(145,80,80, 1); 
}

/* Hero Image on Home Page
------------------------------------------------------------------*/
.hero-img {
    background: url('https://res.cloudinary.com/dkxdppkpe/image/upload/v1701095799/main-img_xedqsc.webp') no-repeat;
    background-size: cover;
    height: 100vh;
}
.welcome-panel {
    background: rgba(145,80,80, 0.3);
}
.welcome-panel h1 {
    border-bottom: 4px solid #fff;
}
.welcome-panel .links {
    list-style: none;
    padding: 0;
}
.welcome-panel .links li {
    float: left;
    width: 2%;
}
.welcome-panel .links li:first-child,
.welcome-panel .links li:last-child {
    width: 49%;
}

/* Footer
------------------------------------------------------------------*/
.footer {
    background: rgba(145,80,80, 1);
}




