{% extends "base.html" %}
{% block title %}
    <title>Pasture | Internal Server Error</title>  
{% endblock title %}

{% block content %}
    <!-- Hero Image  -->
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>500 Error</h1>            
        </div>
    </section>
    <!-- Content Area -->
    <div class="text-area">
        <p>Sorry, the server has encountered an internal error and was unable to complete your request.</p>
        <a href="{% url 'home' %}">Return to home page</a>        
    </div>
{%endblock%}