{% load static %}
{% load active_link_tags %}

<!DOCTYPE html>
<html class="h-100">

<head>     
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Galada&family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/d8bc5721cb.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">   
    {% block title %}
    <!-- Title Goes here -->
    {% endblock title %}
</head>

<body class="d-flex flex-column h-100"> 
    <div class="container fixed-top z-3">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show" id="msg" role="alert">
                    {{ message | safe }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div> 
                {% endfor %}
            </div>
        </div>
    </div>      
    <!-- Header -->
    <header class="header fixed-top d-flex mb-3 z-0">       
        <!-- Logo -->
        <div class="logo-container me-auto px-3 px-lg-5 my-2 my-lg-4 d-block align-items-start">
            <img src="https://res.cloudinary.com/dkxdppkpe/image/upload/v1701084882/logo_sqdz3b.webp" alt="Pasture Logo" id="logo">     
        </div>   
        <!-- Navigation -->
        <nav class="navbar navbar-expand-lg align-items-center">
            <div class="container-fluid">
                <button class="navbar-toggler white" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon">
                        <i class="fas fa-bars white"></i>
                    </span>
                </button>
                <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header justify-content-end">
                        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                            <li class="nav-item">
                                <a class="nav-link {% active_link 'home' 'active' strict=True %}" href="{% url 'home' %}">Home</a>
                            </li>      
                            <li class="nav-item">
                                <a class="nav-link {% active_link 'menu' 'active' %}" href="{% url 'menu' %}">Menu</a>
                            </li> 
                            <li class="nav-item">
                                <a class="nav-link {% active_link 'book' 'active' %}" href="{% url 'book' %}">Book</a>
                            </li> 
                            {% if user.is_authenticated %}  
                                {% if request.user.is_staff %}
                                <li class="nav-item">
                                    <a class="nav-link {% active_link 'staff_management' 'active' %}" href="{% url 'staff_profile' %}">Staff Management</a>
                                </li>   
                                {% else %}                                
                                <li class="nav-item">
                                    <a class="nav-link {% active_link 'my_profile' 'active' %}" href="{% url 'my_profile' %}">My Profile</a>
                                </li> 
                                {% endif %}
                            <li class="nav-item">
                                <a class="nav-link {% active_link 'account_logout' 'active' %}" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item">
                                <a class="nav-link {% active_link 'account_signup' 'active' %}" href="{% url 'account_signup' %}">Register</a>
                            </li>       
                            <li class="nav-item">
                                <a class="nav-link {% active_link 'account_login' 'active' %}" href="{% url 'account_login' %}">Login</a>
                            </li>  
                            {% endif %}  
                        </ul>            
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <!-- Main Content Section -->
    <main class="main-content">
        {% block content %}
        <!-- Content Goes here -->
        {% endblock content %}
    </main>
    <!-- Footer -->
    <footer class="footer d-flex justify-content-between flex-wrap flex-xl-nowrap mt-auto py-5 px-3 px-lg-5 white">
        <div class="col-12 col-md-6 col-lg-4 pb-4 pb-lg-0">
            <h2>Find Us</h2>
            <address>
                The Gatehouse<br>
                Church Lane<br> 
                Chipping Sodbury<br>
                BS37 9PD<br>
            </address>
        </div>
        <div class="col-12 col-md-6 col-lg-4 text-lg-center pb-4 pb-lg-0">
            <h2>Contact Us</h2>
            <p>Email: <a href="mailto:hello@pasture.co.uk" class="white">hello@pasture.co.uk</a><br>
            Tel: 01454 723 0475</p>
        </div>
        <div class="col-12 col-md-12 col-lg-4 text-lg-end">
            <h2>Opening Times</h2>
            <p>
                Mon - Sun: 12pm - 11pm
            </p>
        </div>
    </footer>
    <!-- Javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
