{% extends "base.html" %}
{% block title %}
    <title>Pasture | Delete Menu</title>  
{% endblock title %}

{% block content %}
    <!-- Hero Image  -->
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Delete Menu</h1>            
        </div>
    </section>
    <!-- Content Area -->
    <section class="text-area profile">
        {% if request.user.is_staff %}
        <div class="container-fluid">          
            <form method="POST">
                {% csrf_token %}
                Are you sure you want to delete this menu item?
                <input type="submit" value="Yes" class="btn btn-danger btn-lg px-5">
                <a href="{% url 'manage_menus' %}">Cancel</a>
            </form>
        </div>        
        {% else %}
        <p class="text-center">You must be a member of staff and <a href="{% url 'account_login' %}">login</a> to view this page.</p>
        {% endif %}
    </section>
{%endblock%}