{% extends "base.html" %}
{% block title %}
    <title>Pasture | Edit Menu</title>  
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
    <!-- Hero Image  -->
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Edit Menu</h1>            
        </div>
    </section>
    <!-- Content Area -->
    <section class="text-area profile">
        {% if request.user.is_staff %}
        <div class="container-fluid">                                        
            <p>Please make any changes to the menu item using the form below.</p>
                <!-- Menu Form-->                
                <form method="post">
                    {{ form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg">Edit</button> 
                </form>
        </div>        
        {% else %}
        <p class="text-center">You must be a member of staff and <a href="{% url 'account_login' %}">login</a> to view this page.</p>
        {% endif %}
    </section>
{%endblock%}