{% extends "base.html" %}
{% block title %}
    <title>Pasture | Home</title>  
{% endblock title %}

{% block content %}
<!-- Hero Image  -->
<section class="hero-img d-flex justify-content-center align-items-center text-center white">
    <div class="welcome-panel p-5">
        <h1>Welcome to Pasture</h1>
        <ul class="links d-md-flex justify-content-center mt-4">
            <li><a href="{% url 'menu' %}" class="white">View Menu</a></li>
            <li><a href="{% url 'book' %}" class="white">Book a Table</a></li>
        </ul>
    </div>
</section>
<!-- Text Area -->
<section class="text-area text-center">
    <p>Pasture is a family run restaurant situated on the edge of the Cotswolds, the perfect setting to relax, unwind and experience our mouth watering dishes.</p>
    <p>All of our beef is carefully selected from local butchers to bring you the perfect steak, together with seasonal vegetables grown in our own kitchen garden.</p>
    <p>We have a fabulous wine list together with a great selection of ales so why not <a href="{% url 'book' %}" class="red">book a table</a> today.</p>
</section>
{%endblock%}