{% extends "base.html" %}
{% load active_link_tags %}
{% block title %}
    <title>Pasture | Manage Bookings</title>  
{% endblock title %}

{% block content %}
    <!-- Hero Image  -->
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Manage Bookings</h1>            
        </div>
    </section>
    <!-- Content Area -->
    <section class="text-area profile">
        {% if request.user.is_staff %}
        <div class="container-fluid">   
            <!-- Sub Navigation -->
            <div class="d-flex justify-content-end pb-5">                
                <ul class="d-flex sub-nav">
                    <li><a href="{% url 'manage_bookings' %}" class="red px-5 {% active_link 'manage_bookings' 'active' strict=True %}">Manage Bookings</a></li>
                    <li><a href="{% url 'manage_menus' %}" class="red {% active_link 'manage_menus' 'active' strict=True %}">Manage Menus</a></li>
                </ul>
            </div>  
            <!-- Filter -->
            <div class="d-flex border-bottom border-4 mb-5 pb-2">
                <p class="pe-5">Filter bookings by Name or Date:</p>
                <form method="GET" class="filter-form pb-5">
                    {{ booking_filter.form.name }}
                    {{ booking_filter.form.date }}
                    <button class="btn btn-lg" type="submit">Search</button>
                </form>  
            </div>                         
            <!-- All reservations -->   
            <div class="d-none d-xxl-flex row mt-5">
                <div class="col-xxl-3">
                    <p><strong>Name</strong></p>
                </div>
                <div class="col-xxl-1">
                    <p><strong>Date</strong></p>
                </div>
                <div class="col-xxl-2">
                    <p><strong>Time</strong></p>
                </div>
                <div class="col-xxl-1">
                    <p><strong>No. of Guests</strong></p>
                </div>
                <div class="col-xxl-3">
                    <p><strong>Notes</strong></p>
                </div>
            </div>
            {% for booking in all_bookings %}
            <div class="row border-top border-2 mt-2 pt-4">
                <div class="col-12 col-xxl-3">
                    <p><span class="d-xxl-none"><strong>Name:</strong></span> {{ booking.name }}</p>
                </div>
                <div class="col-12 col-xxl-1">
                    <p><span class="d-xxl-none"><strong>Date:</strong></span> {{ booking.date|date:"d/m/y" }}</p>
                </div>
                <div class="col-12 col-xxl-2">
                    <p><span class="d-xl-none"><strong>Time:</strong></span> {{ booking.get_time_display }}</p>
                </div>
                <div class="col-12 col-xxl-1">
                    <p><span class="d-xxl-none"><strong>No. of Guests:</strong></span> {{ booking.no_of_guests }}</p>
                </div>
                <div class="col-12 col-xxl-3">
                    <p><span class="d-xl-none"><strong>Notes:</strong></span> {{ booking.notes }}</p>
                </div>
                <div class="col-3 col-xxl-1">
                    <p><a href="/edit/{{ booking.id }}">Edit</a></p>
                </div>
                <div class="col-3 col-xxl-1">
                    <p><a href="/delete/{{ booking.id }}" class="red">Delete</a></p>
                </div>
            </div>
            {% endfor %}
        </div>        
        {% else %}
        <p class="text-center">You must be a member of staff and <a href="{% url 'account_login' %}">login</a> to view this page.</p>
        {% endif %}
    </section>
{%endblock%}