{% extends "base.html" %}
{% load active_link_tags %}
{% block title %}
    <title>Pasture | Manage Menus</title>  
{% endblock title %}

{% block content %}
{% load crispy_forms_tags %}
    <!-- Hero Image  -->
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Manage Menus</h1>            
        </div>
    </section>
    <!-- Content Area -->
    <section class="text-area profile">
        {% if request.user.is_staff %}
        <div class="container-fluid">   
            <!-- Sub Navigation -->
            <div class="d-flex justify-content-end pb-5">                
                <ul class="d-flex sub-nav">
                    <li><a href="{% url 'manage_bookings' %}" class="red px-5 {% active_link 'manage_bookings' 'active' strict=True %}">Manage Bookings</a></li>
                    <li><a href="{% url 'manage_menus' %}" class="red {% active_link 'manage_menus' 'active' strict=True %}">Manage Menus</a></li>
                </ul>
            </div>  
        </div>
        <!-- Menu Form to add new menu items -->
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-8 offset-md-2">
                    <p class="pb-5"><strong>Please complete the form below to add a menu item:</strong></p>
                    <!-- Booking Form-->                
                    <form method="post">
                        {{ menu_form | crispy }}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-signup btn-lg">Submit</button> 
                    </form>
                </div>
            </div>
        </div>
        <div class="container-fluid border-top border-4 mt-5 pt-5">
            <p class="pb-5"><strong>Edit or delete existing menu items below:</strong></p>               
            <div class="mb-5">
                <!-- Starters Menu Items --> 
                <h2 class="red">Starters</h2>   
                {% for starter in starters %}
                <div class="row border-top border-2 mt-2 pt-4">
                    <div class="col-12 col-xxl-4">
                        <p class="small">{{ starter.title }}</p>
                    </div>
                    <div class="col-12 col-xxl-5">
                        <p class="small"><i>{{ starter.description }}</i></p>
                    </div>
                    <div class="col-12 col-xxl-1">
                        <p class="small">£{{ starter.price|floatformat:2 }}</p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/edit_menu/{{ starter.id }}">Edit</a></p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/delete_menu/{{ starter.id }}" class="red">Delete</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mb-5">
                <!-- Mains Menu Items -->    
                <h2 class="red">Mains</h2>    
                {% for main in mains %}
                <div class="row border-top border-2 mt-2 pt-4">
                    <div class="col-12 col-xxl-4">
                        <p class="small">{{ main.title }}</p>
                    </div>
                    <div class="col-12 col-xxl-5">
                        <p class="small"><i>{{ main.description }}</i></p>
                    </div>
                    <div class="col-12 col-xxl-1">
                        <p class="small">£{{ main.price|floatformat:2 }}</p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/edit_menu/{{ main.id }}">Edit</a></p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/delete_menu/{{ main.id }}" class="red">Delete</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mb-5">
                <!-- Sides Menu Items -->    
                <h2 class="red">Sides</h2>    
                {% for side in sides %}
                <div class="row border-top border-2 mt-2 pt-4">
                    <div class="col-12 col-xxl-4">
                        <p class="small">{{ side.title }}</p>
                    </div>
                    <div class="col-12 col-xxl-5">
                        <p class="small"><i>{{ side.description }}</i></p>
                    </div>
                    <div class="col-12 col-xxl-1">
                        <p class="small">£{{ side.price|floatformat:2 }}</p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/edit_menu/{{ side.id }}">Edit</a></p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/delete_menu/{{ side.id }}" class="red">Delete</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mb-5">
                <!-- Sauces Menu Items -->    
                <h2 class="red">Sauces</h2>    
                {% for sauce in sauces %}
                <div class="row border-top border-2 mt-2 pt-4">
                    <div class="col-12 col-xxl-4">
                        <p class="small">{{ sauce.title }}</p>
                    </div>
                    <div class="col-12 col-xxl-5">
                        <p class="small"><i>{{ sauce.description }}</i></p>
                    </div>
                    <div class="col-12 col-xxl-1">
                        <p class="small">£{{ sauce.price|floatformat:2 }}</p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/edit_menu/{{ sauce.id }}">Edit</a></p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/delete_menu/{{ sauce.id }}" class="red">Delete</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="mb-5">
                <!-- Desserts Menu Items -->    
                <h2 class="red">Desserts</h2>    
                {% for dessert in desserts %}
                <div class="row border-top border-2 mt-2 pt-4">
                    <div class="col-12 col-xxl-4">
                        <p class="small">{{ dessert.title }}</p>
                    </div>
                    <div class="col-12 col-xxl-5">
                        <p class="small"><i>{{ dessert.description }}</i></p>
                    </div>
                    <div class="col-12 col-xxl-1">
                        <p class="small">£{{ dessert.price|floatformat:2 }}</p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/edit_menu/{{ dessert.id }}">Edit</a></p>
                    </div>
                    <div class="col-3 col-xxl-1">
                        <p class="small"><a href="/delete_menu/{{ dessert.id }}" class="red">Delete</a></p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        {% else %}
        <p class="text-center">You must be a member of staff and <a href="{% url 'account_login' %}">login</a> to view this page.</p>
        {% endif %}
    </section>
{%endblock%}