{% extends "base.html" %}
{% block title %}
    <title>Pasture | Menu</title>  
{% endblock title %}

{% block content %}
    <!-- Hero Image  -->
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Menu</h1>            
        </div>
    </section>
    <!-- Content Area -->
    <section class="text-area">
        <!-- Starters Menu Items -->    
        <div class="container mb-5">
            <h2 class="red text-center">Starters</h2>
            {% for starter in starters %}
            <div class="row">
                <div class="col-8">
                    <h3>{{ starter.title }}</h3>
                    <p class="small"><i>{{ starter.description }}</i></p>
                </div>
                <div class="col-2 offset-2">
                    <p>£{{ starter.price|floatformat:2 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <!-- Mains Menu Items -->    
        <div class="container mb-5">
            <h2 class="red text-center">Mains</h2>   
            {% for main in mains %}
            <div class="row">
                <div class="col-8">
                    <h3>{{ main.title }}</h3>
                    <p class="small"><i>{{ main.description }}</i></p>
                </div>
                <div class="col-2 offset-2">
                    <p>£{{ main.price|floatformat:2 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>  
         <!-- Sides Menu Items -->   
         <div class="container mb-5">
            <h2 class="red text-center">Sides</h2>  
            {% for side in sides %}
            <div class="row">
                <div class="col-8">
                    <h3>{{ side.title }}</h3>
                    <p class="small"><i>{{ side.description }}</i></p>
                </div>
                <div class="col-2 offset-2">
                    <p>£{{ side.price|floatformat:2 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>  
         <!-- Sauces Menu Items -->   
         <div class="container mb-5">
            <h2 class="red text-center">Sauces</h2>  
            {% for sauce in sauces %}
            <div class="row">
                <div class="col-8">
                    <h3>{{ sauce.title }}</h3>
                    <p class="small"><i>{{ sauce.description }}</i></p>
                </div>
                <div class="col-2 offset-2">
                    <p>£{{ sauce.price|floatformat:2 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>  
        <!-- Desserts Menu Items -->   
        <div class="container mb-5">
            <h2 class="red text-center">Desserts</h2>  
            {% for dessert in desserts %}
            <div class="row">
                <div class="col-8">
                    <h3>{{ dessert.title }}</h3>
                    <p class="small"><i>{{ dessert.description }}</i></p>
                </div>
                <div class="col-2 offset-2">
                    <p>£{{ dessert.price|floatformat:2 }}</p>
                </div>
            </div>
            {% endfor %}
        </div>  
    </section>
{%endblock%}