{% extends "base.html" %}
{% block title %}
    <title>Pasture | My Profile</title>  
{% endblock title %}

{% block content %}
    <!-- Hero Image  -->
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>My Profile</h1>            
        </div>
    </section>
    <!-- Content Area -->
    <section class="text-area profile">
        {% if user.is_authenticated %}
        <div class="container-fluid">          
            <h2 class="red">Hello {{ user.username }}</h2>
            <p>Welcome to your dashboard where you can view, edit and delete your reservations.</p>
            <div class="d-none d-xxl-flex row mt-5">
                <div class="col-xxl-3">
                    <p><strong>Name</strong></p>
                </div>
                <div class="col-xxl-1">
                    <p><strong>Date</strong></p>
                </div>
                <div class="col-xxl-2">
                    <p><strong>Time</strong></p>
                </div>
                <div class="col-xxl-1">
                    <p><strong>No. of Guests</strong></p>
                </div>
                <div class="col-xxl-3">
                    <p><strong>Notes</strong></p>
                </div>
            </div>
            {% for booking in bookings %}
            <div class="row border-top border-2 mt-2 pt-4">
                <div class="col-12 col-xxl-3">
                    <p><span class="d-xxl-none"><strong>Name:</strong></span> {{ booking.name }}</p>
                </div>
                <div class="col-12 col-xxl-1">
                    <p><span class="d-xxl-none"><strong>Date:</strong></span> {{ booking.date|date:"d/m/y" }}</p>
                </div>
                <div class="col-12 col-xxl-2">
                    <p><span class="d-xl-none"><strong>Time:</strong></span> {{ booking.get_time_display }}</p>
                </div>
                <div class="col-12 col-xxl-1">
                    <p><span class="d-xxl-none"><strong>No. of Guests:</strong></span> {{ booking.no_of_guests }}</p>
                </div>
                <div class="col-12 col-xxl-3">
                    <p><span class="d-xl-none"><strong>Notes:</strong></span> {{ booking.notes }}</p>
                </div>
                <div class="col-3 col-xxl-1">
                    <p><a href="/edit/{{ booking.id }}">Edit</a></p>
                </div>
                <div class="col-3 col-xxl-1">
                    <p><a href="/delete/{{ booking.id }}" class="red">Delete</a></p>
                </div>
            </div>
            {% endfor %}
            <div class="text-center pt-5 border-top border-3 mt-5 pt-2">
                <a href="{% url 'book' %}" class="red">Create New Reservation</a>
            </div>            
        </div>        
        {% else %}
        <p class="text-center">You must <a href="{% url 'account_login' %}">login</a> to view this page.</p>
        {% endif %}
    </section>
{%endblock%}