{% extends "base.html" %}
{% block title %}
    <title>Pasture | Staff Management</title>  
{% endblock title %}

{% block content %}
    <!-- Hero Image  -->
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Staff Management Dashboard</h1>            
        </div>
    </section>
    <!-- Content Area -->
    <section class="text-area profile">
        {% if request.user.is_staff %}
        <div class="container-fluid">   
            <!-- Sub Navigation -->
            <div class="d-flex justify-content-between">
                <h2 class="red">Hello {{ user.username }}</h2>
                <ul class="d-flex sub-nav">
                    <li><a href="{% url 'manage_bookings' %}" class="red px-5">Manage Bookings</a></li>
                    <li><a href="" class="red">Manage Menus</a></li>
                </ul>
            </div>  
            <!-- Today's reservations -->
            <p>Here are the reservations for today:</p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th>Time</th>
                        <th>No. of Guests</th>
                        <th>Notes</th>
                    </tr>
                    {% for booking in bookings %}
                    <tr>                                
                        <td>{{ booking.name }}</td>
                        <td>{{ booking.date }}</td>
                        <td>{{ booking.get_time_display }}</td>
                        <td>{{ booking.no_of_guests }}</td>
                        <td>{{ booking.notes }}</td>                       
                    </tr>                            
                    {% endfor %}
                </table>          
            </div>
        </div>        
        {% else %}
        <p class="text-center">You must be a member of staff and <a href="{% url 'account_login' %}">login</a> to view this page.</p>
        {% endif %}
    </section>
{%endblock%}