{% extends "base.html" %}
{% load active_link_tags %}
{% block title %}
    <title>Pasture | Staff Management</title>  
{% endblock title %}

{% block content %}
    <!-- Hero Image  -->
    <section class="generic-img d-flex justify-content-center align-items-end text-center white">
        <div class="title-panel p-5">
            <h1>Staff Management Dashboard</h1>            
        </div>
    </section>
    <!-- Content Area -->
    <section class="text-area profile">
        {% if request.user.is_staff %}
        <div class="container-fluid">   
            <!-- Sub Navigation -->
            <div class="d-flex justify-content-between">
                <h2 class="red">Hello {{ user.username }}</h2>
                <ul class="d-flex sub-nav">
                    <li><a href="{% url 'manage_bookings' %}" class="red px-5 {% active_link 'manage_bookings' 'active' strict=True %}">Manage Bookings</a></li>
                    <li><a href="{% url 'manage_menus' %}" class="red {% active_link 'manage_menus' 'active' strict=True %}">Manage Menus</a></li>
                </ul>
            </div>  
            <!-- Today's reservations -->
            <p>Here are the reservations for today:</p>
            {% if bookings %}
                <div class="d-none d-xxl-flex row mt-5">
                    <div class="col-xxl-3">
                        <p><strong>Name</strong></p>
                    </div>
                    <div class="col-xxl-1">
                        <p><strong>Date</strong></p>
                    </div>
                    <div class="col-xxl-2">
                        <p><strong>Time</strong></p>
                    </div>
                    <div class="col-xxl-1">
                        <p><strong>No. of Guests</strong></p>
                    </div>
                    <div class="col-xxl-3">
                        <p><strong>Notes</strong></p>
                    </div>
                </div>
                {% for booking in bookings %}
                    <div class="row border-top border-2 mt-2 pt-4">
                        <div class="col-12 col-xxl-3">
                            <p><span class="d-xxl-none"><strong>Name:</strong></span> {{ booking.name }}</p>
                        </div>
                        <div class="col-12 col-xxl-1">
                            <p><span class="d-xxl-none"><strong>Date:</strong></span> {{ booking.date|date:"d/m/y" }}</p>
                        </div>
                        <div class="col-12 col-xxl-2">
                            <p><span class="d-xl-none"><strong>Time:</strong></span> {{ booking.get_time_display }}</p>
                        </div>
                        <div class="col-12 col-xxl-1">
                            <p><span class="d-xxl-none"><strong>No. of Guests:</strong></span> {{ booking.no_of_guests }}</p>
                        </div>
                        <div class="col-12 col-xxl-3">
                            <p><span class="d-xl-none"><strong>Notes:</strong></span> {{ booking.notes }}</p>
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>There are no reservations today.</p>
            {% endif %}
        </div>        
        {% else %}
        <p class="text-center">You must be a member of staff and <a href="{% url 'account_login' %}">login</a> to view this page.</p>
        {% endif %}
    </section>
{%endblock%}